nav .meniu > li {
  padding: 10px;
}
nav .meniu > li > .text-icon {
  display: none;
}
nav .meniu > li > .imag-icon {
  display: block;
  font-size: 1.5rem;
  color: var(--culoare-text);
  text-align: center;
}
nav .meniu > li:hover > .imag-icon {
  color: var(--culoare-accent-rosu);
}
nav .meniu > li ul li a {
  font-size: 0.9rem;
}